h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 3%;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px)); /* Cells are at least 10% wide */
  gap: 20px; /* Space between grid items */
  justify-content: center; /* Center the grid if there are fewer items */
  padding: 20px;
}

.gridItem {
  background-color: #f5f5f5; /* Light background */
  border: 1px solid #ddd; /* Border for each cell */
  border-radius: 8px; /* Rounded corners */
  text-align: center;
  overflow: hidden; /* Clip overflow if necessary */
  height: auto;
  max-height: 400px; /* Maximum height */
  width: 100%; /* Ensure item fills grid column width */
  display: flex; /* Center content vertically and horizontally */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridItem > img {
  max-width: 100%; /* Image adjusts to fit width */
  max-height: 70%; /* Image height is capped at 70% of the cell */
  object-fit: cover; /* Maintain aspect ratio, crop if necessary */
  margin: 5px;
}

.gridItem > a {
  margin: 10px 0 0; /* Add space between image and text */
  font-size: 2rem;
}

.gridItem:hover {
  background-color: #F27501; /* Change background color on hover */
}

.gridItem > a:hover {
  color: #02233E;
}
