
.sponsorHeading {
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
    color: var(--heading-color);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px)); /* Cells are at least 10% wide */
    gap: 20px; /* Space between grid items */
    justify-content: center; /* Center the grid if there are fewer items */
    padding: 20px;
}

.gridItem {
    background-color: #f5f5f5; /* Light background */
    border: 1px solid #ddd; /* Border for each cell */
    border-radius: 8px; /* Rounded corners */
    text-align: center;
    overflow: hidden; /* Clip overflow if necessary */
    width: 100%; /* Ensure item fills grid column width */
    display: flex; /* Center content vertically and horizontally */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gridItem > img {
    max-width: 80%; /* Image adjusts to fit width */
    max-height: 70%; /* Image height is capped at 70% of the cell */
    object-fit: cover; /* Maintain aspect ratio, crop if necessary */
    margin: 5px 5px 40px 5px; /* Increased bottom margin to prevent overlap with link */
    flex-shrink: 0; /* Prevent image from shrinking */
}

.gridItem:hover {
    box-shadow: 0 5px 10px var(--slide-heading-color);
    transform: translateY(-2px);
    color: #02233E;
}
