:root {
    --slide-text-color: #094163;
    --slide-heading-color: #F27501;
    --base-background: #ffffff;
    --slide-background: #ffffff;
    --slide-border-color: #A5A9B0;
}

html[data-theme='dark'] {
    --base-background: #094163;
    --slide-background: #3A6782;
    --slide-heading-color: #ffffff;
    --slide-text-color: #ffffff;
}

.base {
    /* background-color: rgb(15, 146, 81); */
    display: flex;
    background-color: var(--base-background);
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.slider {
    padding: 2rem 0 3rem;
}

.slide {
    background-color: var(--slide-background);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4px;
    gap: 2rem;
    /*height: 25vh;*/
    border-radius: 1rem;
    border: 1px solid var(--slide-border-color);
}

.slide:hover {
    box-shadow: 0 10px 20px var(--slide-heading-color);
    transform: translateY(-2px);
}

@media screen and (max-width: 480px) {
    .slide {
        margin: 0 10px 0 10px;
        padding: 5px;
    }

    .slideIcon {
        display: none !important;
    }
}

.slideIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideSVG {
    max-height: 10vh;
}

.slideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideText p {
    color: var(--slide-text-color);
}

.slideText a {
    color: var(--slide-heading-color);
}
