:root {
    --slide-text-color: #ffffff;
    --slide-heading-color: #F27501;
    --base-background: #ffffff;
    --slide-background:  #094163;
}

html[data-theme='dark'] {
    --base-background: #094163;
    --slide-background: #F27501;
    --slide-heading-color: #094163;
    --slide-text-color: #052234;
}

.base {
    /* background-color: rgb(15, 146, 81); */
    display: flex;
    background-color: var(--base-background);
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.slider {
    padding: 2rem 0 3rem;
}

.slide {
    background-color: var(--slide-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
    min-height: 20vh;
    max-height: 35vh;
    border-radius: 1rem;

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.slideIcon{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideSVG {
    max-height: 100px;
    max-width: 100px;
}

.slideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideText p {
    color: var(--slide-text-color);
}

.slideText a {
    color: var(--slide-heading-color);
}
