h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
    color: var(--heading-color);
}

.centeredParagraph {
    margin: 0 auto; /* Centers the paragraph horizontally */
    max-width: 60%; /* Restricts the paragraph's width to 80% of the viewport */
    text-align: justify; /* Centers the text inside the paragraph */
    font-size: 16px; /* Optional: Adjust font size */
    line-height: 1.5; /* Optional: Improve readability */
    padding: 10px; /* Optional: Add padding around the text */
    color: var(--ifm-text-color); /* Optional: Text color */
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--ifm-background-color);
}

.cfp {
    margin: 24px auto; /* Centers the paragraph horizontally */
    max-width: 40%; /* Restricts the paragraph's width to 80% of the viewport */
    text-align: justify; /* Centers the text inside the paragraph */
    font-size: 16px; /* Optional: Adjust font size */
    line-height: 1.5; /* Optional: Improve readability */
    color: var(--ifm-text-color); /* Optional: Text color */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--slide-border-color);
    box-shadow: 0 5px 5px var(--slide-heading-color);
}

.cfpButton {
    background-color: #A8E6CF; /* Light green background */
    color: #333; /* Dark text for contrast */
    padding: 10px 20px; /* Spacing inside the button */
    display: block;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline on links */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.cfpButton:hover {
    background-color: #8DCFA7; /* Slightly darker green on hover */
}

@media screen and (max-width: 995px) {
    .centeredParagraph {
        margin: 0 auto; /* Centers the paragraph horizontally */
        max-width: 90%; /* Restricts the paragraph's width to 80% of the viewport */
        text-align: justify; /* Centers the text inside the paragraph */
        font-size: 16px; /* Optional: Adjust font size */
        line-height: 1.5; /* Optional: Improve readability */
        padding: 10px; /* Optional: Add padding around the text */
        color: var(--ifm-text-color); /* Optional: Text color */
    }

    .cfp {
        max-width: 80%;
    }

    .cfpButton {
        max-width: 80%;
        text-align: center;
        margin-top: 12px;
    }
}