.locations {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.location {
  margin: 20px;
}

.locationSvg {
  height: 300px;
  width: 300px;
  align-items: center;
  align-content: center;
}

.locationHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}