.base {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

.facts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
    }
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factLogo {
    max-width: 150px;
    display: flex;
    align-items: center;
}

.factLogo img {
    max-width: 100%;
}

.factSvg {
    align-items: center;
    align-content: center;
}
